/* Estilos gerais */
.rotina-body {
    margin: 5vw 5vw;
    font-family: Arial, sans-serif;
    color: white;
    height: 80vh;
    width: 90vw;
    text-align: center;
}

.rotina-container {
    display: flex;
    min-height: 100vh;
    text-align: center;
}
/* Conteúdo principal */
.rotina-content {
    width: 85%;
    padding: 20px;
    text-align: center;
    align-content: baseline;
}

.rotina-h1 {
    margin-bottom: 20px;
}

.rotina-form-section {
    margin-bottom: 30px;
}

.rotina-input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
    color: white;
}

.rotina-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.rotina-button:hover {
    background-color: #0056b3;
}

#addMealBtn, #addWorkoutBtn {
    background-color: #28a745;
}

#addMealBtn:hover, #addWorkoutBtn:hover {
    background-color: #218838;
}
