/* Estilos gerais */
.treinos-body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.treinos-container {
    display: flex;
    min-height: 100vh;
    width: 70vw;
    overflow: hidden; /* Para evitar que o conteúdo transborde */
    margin-left: 10vw;
}

/* Barra lateral */

/* Conteúdo principal */
.treinos-content {
    width: 85%;
    padding: 20px;
    text-align: center;
}

.treinos-h1 {
    margin-bottom: 20px;
}

/* Estilo da tabela */
.treinos-workout-table {
    height: calc(100vh - 60px); /* Faz a tabela ocupar quase toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* Rolagem horizontal */
}

.treinos-table {
    width: 1200px; /* Tamanho maior para criar barra de rolagem */
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Mantém as colunas de tamanho fixo */
}

.treinos-thead th {
    background-color: #2b2b2b;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

.treinos-tbody td {
    background-color: #2b2b2b;
    padding: 20px;
    text-align: center;
    border: #212121 1px solid;
}

.treinos-table th, table td {
    border: 1px solid #2b2b2b;
}

/* Estilo da barra de rolagem */
.treinos-workout-table::-webkit-scrollbar {
    height: 8px;
}

.treinos-workout-table::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 4px;
}

.treinos-workout-table::-webkit-scrollbar-track {
    background-color: #2b2b2b;
}

.textarea-treinos{
    background-color:#2b2b2b;
    height: 1vh;
    resize: none;
    
}