* {
    font-family: 'montserrat-Bold';
}


.divHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0.5vw;
    border-radius: 1vw;
    background-color: #6ABDF5;
    box-shadow: inset 23px 244px 84.0999984741211px 0px rgba(255, 255, 255, 25%);
    margin: 5vh 0;
}

#divBlackBG {
    background-color: black;
    color: #F9F9F9;
    border-radius: 3vw;
    padding-left:8vw;
    padding-right:8vw;
    font-size: 2.6vw;
    -webkit-margin-before: 1em;
    -webkit-margin-after: -2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.imgHero {
    width: 45vw;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#LinhaDivHero {
    background-color: #F9F9F9;
    width: 100%;
    height: 1vh;
    border-radius: 1vw;
}