.containerCardPagina {
    background-color: #535353;
    padding: 0.8vw 2vw 1vw 2vw;
    border-radius: 1vw;
    margin: 0.8vw;
    height: max-content;
    transition: all 0.2s;
}

.cardPagina {
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9f9f9;
    transition: all 0.2s;
}

.containerCardPagina:hover{
    border: 1px solid #f9f9f9;
    cursor: pointer;
    transition: all 0.2s;
}

.subpaginas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s;
    z-index: 30;
}

.subpaginas:hover {
    cursor: pointer;
    background-color: #3a3a3a85;
    border-radius: 2vw;
    padding-inline: 0.9vw;
    transition: all 0.1s;
}


.dadosCardPaginas {
    display: none;
}
.dadosCardPaginas > div> div > ul > li {
    font-family: 'montserrat-Thin';
    color: #f9f9f9;
    font-style: italic;
}
.dadosCardPaginas > div > div > h3 {
    font-family: 'montserrat-Thin';
    color: #f9f9f9;
    font-style: italic;
    text-decoration: underline;
}

.dadosCardPaginas > div {
    display: flex;
    justify-content: space-between;
}

.dadosCardPaginas > button {
    background-color: rgba(0, 0, 0, 0.139);
    border: 1px solid rgb(245, 106, 106);
    color: rgb(245, 106, 106);
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin-top: 3vh;
}

.dadosCardPaginas > button:hover {
    cursor: pointer;
    border: 2px solid rgb(243, 25, 25);
    color: rgb(243, 25, 25);
    font-weight: bolder;
    transition: all 0.1s;
}
.remMargin{
    margin: 0;
}

.italicFont {
    font-style: italic;
}

.setaBaixo-cardPagina {
    width: 1.5vw;
    margin-left: 0.5vw;
}

@media (max-width: 768px) {
    .cardPagina{
        height: 12.5vh;
    }

    .remMargin{
        font-size: 3vw;
    }
}