.titulo-anotacoes {
    font-size: 3vw;
    font-family: "montserrat-Bold";
    color: #f9f9f9;
    margin-bottom: 0;
}

.subtitulo-anotacoes {
    margin-top: 0;
    font-family: "montserrat-Thin";
    font-style: italic;
    color: #f9f9f9;
}

.containerTituloAnotacaoes{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    padding: 0.5vw;
    margin-bottom: 4vh;
}

.camposNovaAnotacao > h3 > span {
    font-style: italic ;
    font-family: 'montserrat-Thin';
    margin-left: 10px;
    font-weight: lighter;
}

#btn_novaAnotacao {
    width: 3vw;
    height: 6vh;
    font-size: 1.8vw;
    background-color: transparent;
    border: 1px solid #f9f9f9b9;
    color: #f9f9f9b9;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.2s all;
}

#btn_novaAnotacao:hover {
    border: 1px solid #f9f9f9;
    color: #f9f9f9;
    font-size: 2vw;
    width: 3.2vw;
    height: 6.4vh;
}

@media (max-width: 768px) {
    .containerTituloAnotacaoes {
        width: 90%;
    }

    .containerTituloAnotacaoes > div > h1 {
        font-size: 5vw;
    }

    #btn_novaAnotacao,
    #btn_novaAnotacao:hover{
        width: 6vw;
        font-size: 3.8vw;
        height: 6.4vh;
    }

    .container_Pagina{
        width: 100%;
    }


    .containerSubPaginas > p{
        margin: 0;
        font-size: 2vw;
    }
}

@media (max-width: 470px) {
    .container_Pagina{
        height: 100%;
    }
    .textAreaAnotacao {
         font-size: 4.5vw;
    }

    .containerTituloAnotacaoes > div{
        justify-content: space-around;
    }
    .containerTituloAnotacaoes > div > h1 {
        font-size: 7vw;
    }
    .subtitulo-anotacoes{
        font-size: 4vw;
    }
    #btn_novaAnotacao, #btn_novaAnotacao:hover{
        width: 8vw;
        font-size: 6.8vw;
        height: 5.4vh;
    }

    .textAreaAnotacao {
        font-size: 4.5vw;
    }

    .containerSubPaginas p {
        font-size: 3vw;
    }
    .setaVoltar{
        font-size: 6vw;
        margin-right: 0vw;
    }

}