.container_home{
    display: flex;
    flex-direction: row;
    background-color: #212121;
    height: 100vh;
}

.DivCentral{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 3vw;
}

.titleUsuario{
    color: #FFFFFF;
    font-size: 3vw;
}

.DivRecomendacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 25vw;
}

@media (max-width: 1100px) {
    .titleUsuario{
        font-size: 4vw;
    }

    .DivCentral{
        width: 78%;
    }

    .DivRecomendacoes {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;  
        gap: 2vw; 
        width: 95%;
        height: auto;
    }
    .CardMusica {
        grid-column: 1; 
        grid-row: 1;   
    }

    .CardPerfil {
        grid-column: 2; 
        grid-row: 1;    
        width: 100%;
    }

    .CardLeitura {
        grid-column: 1 / span 2; 
        grid-row: 2;     
        width: 100%;        
    }
}

@media (max-width: 770px) {
    .DivCentral{
        width: 73%;
    }

    .DivRecomendacoes{
        width: 90%;
    }
}

@media (max-width: 600px) {
    .DivRecomendacoes {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto; 
        row-gap: 6vw; 
        width: 90%;
        height: auto;
    }

    .CardMusica {
        grid-column: 1;
        grid-row: 1;   
        width: 100%; 
    }

    .CardPerfil {
        grid-column: 1;
        grid-row: 3;    
    }

    .CardLeitura {
        grid-column: 1; 
        grid-row: 2;   
    }

    .titleUsuario{
        font-size: 6vw;
    }
}

@media (max-width: 470px) {
    .container_modos{
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .DivRecomendacoes{
        row-gap: 3vw;
    }

    .DivCentral{
        width: 90%;
        padding-right: 5vw;
        overflow-y: scroll;
        padding-left: 5vw;
    }

    .titleUsuario{
        font-size: 7vw;
    }
    .CardMusica, .CardLeitura{
        height: 30vw;
    }
    .CardMusica > p, .CardLeitura > p {
        font-size: 3.5vw;
    }
}
