.CardMusica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3A3A3A;
    color: #FFFFFF;
    padding: 2vw;
    height: 75%;
    border-radius: 2vw;
    box-shadow: 0px 0px 10px 0px rgba(56, 56, 56, 0.596);
    transition: 0.2s all;
}

.CardMusica > p {
    margin: 1.2vh;
    font-weight: 200;
}

.CardMusica:hover{
    box-shadow: 0px 0px 10px 0px #6ABDF5;
}

@media (max-width: 768px) {
    .CardMusica {
        padding: 4vw;
    }

    .CardMusica > p {
        font-size: 2.5vw;
    }
}