.CardPerfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #3A3A3A;
    color: #FFFFFF;
    padding: 2vw;
    height: 75%;
    border-radius: 2vw;
    width: 14vw;
    box-shadow: 0px 0px 10px 0px rgba(56, 56, 56, 0.596);
}

.CardPerfil > p {
    font-weight: 200;
}

.ImgPerfil {
    height: 8vw;
    width: 8vw;
    margin-bottom: 3vw;
}
