@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #212121;
}

.containerCadastro {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

.title {
  font-family: 'Montserrat';
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff;
}

.input-field {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #3A3A3A;
  border: none;
  border-radius: 5px;
}

.input-field::placeholder {
  color: #ffffff;
}

.submit-button {
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #6abdf5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 70%;
}
