@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.container-Cadastro {
  background-color: #2b2b2b;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 350px;
  position: relative;
}

.back-button-cadastro {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 4vw;
  cursor: pointer;
  color: #ffffff;
}

.title-cadastro {
  color: white;
  margin: 25px 0; 
  font-size: 24px;
}

.form-cadastro {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-label-cadastro {
  margin-bottom: 5px;
  font-size: 1.3vw;
  color: #ffffff;
}

.input-field-cadastro {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1.1vw;
  color: #ffffff;
  background-color: #3A3A3A;
  border: none;
  border-radius: 5px;
}

.input-field-cadastro::placeholder {
  color: #aaaaaa;
}

.submit-button-cadastro {
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #6abdf5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: 70%;
}
