@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'montserrat-Regular';
}

@font-face {
    font-family: 'montserrat-Black';
    src: url('./assets/fonts/Montserrat-Black.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-ExtraBold';
    src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-Bold';
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-SemiBold';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-Medium';
    src: url('./assets/fonts/Montserrat-Medium.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-Regular';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-ExtraLight';
    src: url('./assets/fonts/Montserrat-ExtraLight.ttf') format('opentype');
}
@font-face {
    font-family: 'montserrat-Thin';
    src: url('./assets/fonts/Montserrat-Thin.ttf') format('opentype');
}

.container_modos{
    display: flex;
    flex-direction: row;
    background-color: #212121;
    height: 100vh;
}

.resetLinks {
    color: #f9f9f9;
    text-decoration: none;
}
.resetLinks:visited {
    color: #f9f9f9;
    text-decoration: none;
}
.resetLinks > button {
    background-color: #6ABDF5;
    border: none;
    height: 4vh;
    width: max-content;
    font-weight: bold;
    border-radius: 1vw;
    transition: all 0.1s;
    margin-top: 5vh;
}
.resetLinks > button:hover {
    border: 1px solid #f9f9f9;
    cursor: pointer;
    font-size: 90%;
    transition: all 0.2s;
}
body { 
    background-color: #212121;
}
[vw] [vw-access-button] img {
    -webkit-margin-before: 0;
    width: auto;
}
.loading {
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

